player-connection-mode=Listen
player-connection-guid=332801873
player-connection-debug=0
player-connection-project-name=Eksamen
player-connection-ip=82.211.206.241
player-connection-ip=10.8.0.6
player-connection-ip=172.26.192.1
player-connection-ip=169.254.202.107
player-connection-ip=169.254.1.94
player-connection-ip=172.21.224.1
player-connection-ip=169.254.57.70
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
